<button class="chat-button" (click)="toggleChat()">
  🤖 AI Assistant
</button>

<div class="chat-box" *ngIf="isOpen">

  <h5>🤖 Health AI Assistant</h5>

  <p>Hello! How can I help you today?</p>

  <textarea
    rows="4"
    [(ngModel)]="question"
    placeholder="Ask your healthcare question...">
  </textarea>

  <button
    type="button"
    class="send-btn"
    (click)="askAI()"
    [disabled]="loading">

    {{ loading ? 'Thinking...' : 'Send' }}

  </button>

  <p *ngIf="loading">
    Thinking...
  </p>

  <div *ngIf="answer">
    <strong>AI:</strong>
    <p>{{answer}}</p>
  </div>

</div>